*{
    margin: 0;
    padding: 0;
}

/* ssssss */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content area */
main {
    padding: 0%;
    margin: 0%;
    flex: 1; /* This makes the main content grow to fill space */
}

/* eeeeeeeeeeeeeeeeee */

.navbar{
    font-family: "Poppins", sans-serif;
    display: flex;
    /* flex: 1; */
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: linear-gradient(to right, blue, lightblue);
}
.navbar img{
    width: 72px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    /* background-color: brown; */
}

.navbar ul{
    display: flex;
    gap: 40px;
    padding: 10px;
}
.navbar ul li{
    list-style: none;
    padding: 10px;
    margin: 5px;
}
.navbar ul li a{
    /* margin: 5px; */
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: 600;
    /* background-color: red; */
    border-radius: 10px;
}
.navbar ul li a:hover{
    background-color: aqua;
}


/* Hero Section */
.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 20px;
    gap: 100px;
    background-color: #eef6fc;
}

.hero-content {
    flex: 1;
    /* max-width: 600px; */
    /* background-color: brown; */
    height: 550px;
    width: 100%;
}

.hero-content h1 {
    font-size: 48px;
    color: #007BFF;
}

.hero-content p {
    font-size: 24px;
    color: #555;
    margin: 20px 0;
}

.btn-primary {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
.hero-image{
    /* background-color: red; */
}

.hero-image img {
    max-width: 500px;
}

footer {
    margin-bottom: 0;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
}
